<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="cn.zhishu.core.dao.UserDao">-->

    <!--&lt;!&ndash;查询用户&ndash;&gt;-->
    <!--<select id="getByUsername" parameterType="String" resultType="User">-->
        <!--select username from f_user where username=#{username} limit 1;-->
    <!--</select>-->

    <!--&lt;!&ndash;创建用户&ndash;&gt;-->
    <!--<insert id="createUser" parameterType="User">-->
        <!--insert into f_user(username)-->
        <!--values (#{username});-->
    <!--</insert>-->

<!--</mapper>-->